.cardDetail_container {
    box-sizing: border-box;
    padding: 0.2rem 0.15rem;
}


.cardDetail_container .card_message_box {
    border-radius: 0px 0px 0.03rem 0.03rem;
    overflow: hidden;
}


.cardDetail_container .card_message_box .card {
    height: 1.27rem;
    background-image: url("../images/card_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 0.2rem 0.15rem;
}

.cardDetail_container .card_message_box .card .card_name_box,.cardDetail_container .card_message_box .card .card_type_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardDetail_container .card_message_box .card .card_name_box .card_name {
    font-size: 0.16rem;
    font-weight: bold;
    color: #fff;
    line-height: 0.22rem;
}

.cardDetail_container .card_message_box .card .card_name_box .total {
    font-size: 0.12rem;
    font-weight: 400;
    color: #fff;
    line-height: 0.18rem;
}

.cardDetail_container .card_message_box .card_type_box .card_type {
    font-size: 0.12rem;
    font-weight: 400;
    color: #fff;
    line-height: 0.17rem;
    border: 1px solid #fff;
    padding: 0 0.06rem;
    border-radius: 0.09rem;
}

.cardDetail_container .card_message_box .card_type_box .total_detail {
    font-size: 0.2rem;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.28rem;
}

.cardDetail_container .card_message_box .card_type_box {
    margin-top: 0.12rem;
}


.cardDetail_container .card_message_box .card_message_detail_box {
    box-sizing: border-box;
    background-color: #fff;
    padding: 0.15rem;

}

.cardDetail_container .card_message_box .card_message_detail_box .card_price {
    font-size: 0.2rem;
    line-height: 0.28rem;
    font-weight: bold;
    color: #F15948;
    margin-bottom: 0.1rem;
}
.cardDetail_container .card_message_box .card_message_detail_box .open_time {
    font-size: 0.14rem;
    font-weight: 400;
    color: #333333;
    line-height: 0.2rem;
    margin-bottom: 0.1rem;
}
.cardDetail_container .card_message_box .card_message_detail_box .open_type {
    font-size: 0.14rem;
    font-weight: 400;
    color: #333333;
    line-height: 0.2rem;
}

.cardDetail_container .card_desc_box {
    margin-top: 0.14rem;
    box-sizing: border-box;
    padding: 0.15rem;
    background-color: #fff;
    border-radius: 0.03rem;
}

.cardDetail_container .card_desc_box h1 {
    font-size: 0.16rem;
    font-weight: bold;
    color: #333333;
    line-height: 0.22rem;
    margin-bottom: 0.15rem;
}

.cardDetail_container .card_desc_box .desc_detail {
    font-size: 0.14rem;
    font-weight: 400;
    color: #333333;
    line-height: 0.2rem;
}

.cardDetail_container .user_photo_box {
    margin-top: 0.14rem;
    box-sizing: border-box;
    padding: 0.15rem;
    background-color: #fff;
    border-radius: 0.03rem;
    display: flex;
    justify-content: space-between;
}

.cardDetail_container .user_photo_box .user_photo {
    display: block;
    width: 0.54rem;
    height: 0.54rem;
}

.cardDetail_container .user_photo_box .box_title {
    font-size: 0.16rem;
    font-weight: bold;
    color: #333333;
    line-height:0.22rem;
}
