body,html {
    min-height: 100%;
    background-color: rgba(255, 255, 255, 1);
}


.top_card_box {
    box-sizing: border-box;
    padding: 0.2rem 0.15rem;
}

.top_card_box .card_box {
    height: 1.27rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.2rem;
}


.top_card_box .card_box .right_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.top_card_box .card_box .card_icon_box {
    display: inline-flex;
    min-width: 0.56rem;
    justify-content: center;
    align-items: center;
    width: 56px;
    border-radius: 0.09rem;
    border: 1px solid #FFFFFF;
    padding: 1px 0;
    font-size: 0.12rem;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.17rem;
}

.top_card_box .card_box .card_name {
    font-size: 0.18rem;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.25rem;
    margin-bottom: 0.1rem;
}

.top_card_box .card_box .left_box {
    display: flex;
    flex-direction: column;
}

.top_card_box .card_box .right_box .total {
    font-size:0.12rem;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.17rem;
    margin-bottom: 0.1rem;
}

.top_card_box .card_box .right_box .integral_detail {
    font-size: 0.2rem;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.28rem;
}

.top_card_box .price {
    font-size: 0.16rem;
    font-weight: bold;
    color: #F15948;
    line-height: 0.2rem;
    margin-top: 0.15rem;
}

.cardDetail_container .border_box {
    height: 0.15rem;
    background: rgba(242, 242, 242, 1);
}

.cardDetail_container .card_desc_box {
    box-sizing: border-box;
    padding: 0.2rem 0.15rem 0.4rem 0.15rem;
}

.cardDetail_container .card_desc_box .card_desc_title {
    font-size: 0.16rem;
    font-weight: bold;
    color: #333333;
    line-height: 0.22rem;
    margin-bottom: 0.15rem;
}

.cardDetail_container .card_desc_box .card_desc_p {
    font-size: 0.14rem;
    font-weight: 400;
    color: #333333;
    line-height: 0.2rem;
}

.fixed_open_box {
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background: #fff;
    padding: 0.15rem 0.15rem 0.36rem 0.15rem;
}

.fixed_open_box .open_btn {
    height: 0.44rem;
    background: #488FF1;
    border-radius: 0.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.16rem;
    font-weight: bold;
    color: #FFFFFF;
    line-height:0.22rem;
}

.modal_dialog {
    position: fixed;
    z-index: 111;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_dialog .pay_box {
    width: 2.47rem;
    box-sizing: border-box;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 0.03rem;
}

.modal_dialog .pay_box .pay_desc {
    text-align: center;
    font-size: 0.14rem;
    font-weight: bold;
    color: #333333;
    line-height:0.2rem;
    margin-bottom: 0.08rem;
}

.modal_dialog .pay_box .waiting_pay {
    font-size: 0.12rem;
    font-weight: 400;
    color: #999999;
    line-height: 0.17rem
}

.modal_dialog .pay_box .pay_price {
    font-size: 0.16rem;
    font-weight: bold;
    color: #F15948;
    line-height: 0.22rem;
    margin-bottom: 0.2rem;
}

.modal_dialog .pay_box .pay_btn {
    width: 1.87rem;
    height: 0.36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.03rem;
}

.modal_dialog .pay_box .pay_btn img{
    display: block;
    width: 0.2rem;
    height: 0.2rem;
}

.modal_dialog .pay_box .pay_btn span{
    font-size: 0.14rem;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.2rem;
}

.modal_dialog .pay_box .pay_btn.gong {
    background-color: rgba(72, 143, 241, 1);
    margin-bottom: 0.15rem;
}

.modal_dialog .pay_box .pay_btn.wx {
    background-color: rgba(80, 182, 116, 1);
    margin-bottom: 0.15rem;
}

.modal_dialog .pay_box .cancel_pay_btn {
    font-size: 0.14rem;
    font-weight: 400;
    color: #488FF1;
    line-height: 0.2rem;
    text-decoration: underline;
}

.modal_dialog.hide {
    display: none!important;
}

.model-open {
    position: fixed;
    width: 100%;
}