html,body {
    background-color: #fff;
}


.challenge_container {
    box-sizing: border-box;
}

.challenge_container .top_challenge_box {
    box-sizing: border-box;
    padding: 0.15rem;
}

.challenge_container .top_challenge_box .top_challenge_box_container {
    height: 1.14rem;
    background-image: url("../images/challenge_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top_challenge_box_container .vs_img {
    display: block;
    width: 0.47rem;
    height: 0.26rem;
}

.top_challenge_box_container .left,.top_challenge_box_container .right {
    flex: 1;
    width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top_challenge_box_container  .challenge_bg img {
    display: block;
    width: 0.56rem;
    height: 0.62rem;
}

.top_challenge_box_container  .flex_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_challenge_box_container  .flex_box img {
    display: block;
    width: 0.48rem;
    height: 0.48rem;
    margin-bottom: 0.06rem;
}

.top_challenge_box_container  .flex_box span {
    font-size: 0.14rem;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 0.2rem;
}



.dingke_box {
    box-sizing: border-box;
    margin: 0.3rem 0.15rem 0.2rem 0.15rem;
    padding: 0.2rem 0.15rem;

    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.03rem;
}

.dingke_box h4{
    font-size: 0.16rem;
    font-weight: 700;
    color: #333333;
    line-height: 0.22rem;
}

.dingke_box  .dingke_item_box{
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0 0 0;
}

.dingke_box .dingke_item_box img {
    display: block;
    width: 0.66rem;
    height: 0.66rem;
}

.challenge_desc {
    text-align: center;
    margin: 0.4rem 0.2rem;


    font-size: 0.14rem;
    font-weight: 700;
    color: #333333;
    line-height: 0.2rem
}

.challenge_desc span {
    color: rgba(255, 48, 0, 1) !important;
    font-size: 0.14rem;
    font-weight: 700;
    line-height: 0.2rem
}

.sure_btn {
    margin: 0 0.15rem 0.3rem 0.15rem;

    height: 0.4rem;
    background: #488FF1;
    border-radius: 0.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.16rem;
    font-weight: 700;
    color: #FFFFFF;
}

.border_box {
    height: 0.15rem;
    background-color: rgba(242, 242, 242, 1);
}


.guess_box_bootom {
    background-color: #fff;
    margin: 0.15rem 0 0 0;
}
.guess_box_bootom .desc_box {
    box-sizing: border-box;
    padding: 0.2rem 0.15rem;
}

.guess_box_bootom .desc_box h4 {
    font-size: 0.16rem;
    font-weight: bold;
    color: #333333;
    line-height: 0.22rem;
}

.guess_box_bootom .desc_box p {
    font-size: 0.14rem;
    font-weight: 400;
    color: #666666;
    line-height: 0.2rem;
    margin: 0.15rem 0 0 0;
}


.fixed_result_box {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed_result_box .fixed_result_dialog {
    height: 2.2rem;
    width: 3rem;
    display: flex;
    justify-content: space-between;
}

.fixed_result_box .fixed_result_dialog .left {
background-color: rgba(255, 233, 209, 1);
}

.fixed_result_box .fixed_result_dialog .right {

    background: #FAFAFA;
}

.fixed_result_box .fixed_result_dialog .left,  .fixed_result_box .fixed_result_dialog .right{
    flex: 1;
    width: 0;
    height: 100%;
    border-radius: 0.03rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    padding: 0.2rem 0;
}

.fixed_result_box .fixed_result_dialog  .vs_img_box {
    width: 0.2rem;
    height: 100%;
    position: relative;
}

.fixed_result_box .fixed_result_dialog  .vs_img_box img {
    display: block;
    width: 0.8rem;
    height: 0.64rem;
    position: absolute;
    top: 0.42rem;
    left: -0.3rem;
    z-index: 10;
}


.flex_result_box .user_img {
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    margin-bottom: 0.1rem;
}

.flex_result_box .user_name {
    font-size: 0.14rem;
    font-weight: 700;
    color: #333333;
    line-height: 0.2rem;
    margin-bottom: 0.08em;
}

.flex_result_box .dingke_img {
    width: 0.6rem;
    height: 0.6rem;
    display: block;
    margin-bottom: 0.06rem;
}

.flex_result_box .dingke_name {
    font-size: 0.14rem;
    font-weight: 700;
    color: #333333;
    line-height: 0.2rem;
}

.flex_result_box  .shengfu {
    display: block;
    width: 0.48rem;
    height: 0.48rem;
    position: absolute;
    bottom: 0.04rem;
    right: 0;
    z-index: 11;
}