/*header部分样式*/
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    height: 0.44rem;
    background: rgba(13, 20, 125, 1);
}

.header .left {
    width: 0.36rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .right {
    width: 0.36rem;
    height: 100%;
    font-size: 0.16rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.header .middle {
    flex: 1;
    width: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.16rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.iconfont {
    color: #fff;
    font-size: 0.28rem !important;
}

.container {
    padding: 56px 12px 12px;
}

.container .address-box {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.container .address-box .method {
    width: 48px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid rgba(16, 24, 134, 1);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(13, 20, 125, 1);
    line-height: 24px;
    margin-bottom: 10px;
}

.container .address-box .address {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .address-box .address img {
    width: 20px;
    margin-right: 8px;
}

.container .address-box .address .select {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 22px;
}

.container .address-box .address .ad {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
}

.container .address-box .ad-detail {
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 20px;
    padding-left: 28px;
    margin-top: 10px;
}

.container .product-box {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.container .product-box .title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
    margin-bottom: 10px;
}

.container .product-box .product {
    display: flex;
    justify-content: center;
}

.container .product-box .product .left-img {
    width: 72px;
    height: 72px;
    background: rgba(244, 244, 244, 1);
    border-radius: 6px;
    margin-right: 10px;
}

.container .product-box .product .left-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.container .product-box .product .right-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .product-box .product .right-info .s-name {
    font-size: 16px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
    margin-top: 3px;
}

.container .product-box .product .right-info .price-num {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .product-box .product .right-info .price-num .price {
    font-size: 20px;
    font-weight: bold;
    color: rgba(228, 0, 0, 1);
    line-height: 24px;
}

.container .product-box .product .right-info .price-num .price span {
    font-size: 14px;
    line-height: 28px;
}

.container .product-box .product .right-info .price-num .num {
    font-size: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
}

.container .product-box .produce-total {
    text-align: right;
    margin-top: 7px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container .product-box .produce-total .one {
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 20px;
    margin-right: 15px;
}

.container .product-box .produce-total .two {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
}

.container .product-box .produce-total .three {
    font-size: 20px;
    font-weight: bold;
    color: #E40000;
    line-height: 20px;
}

.container .product-box .produce-total .four {
    font-size: 14px;
    font-weight: 400;
    color: #EC2200;
    line-height: 20px;
}

.container .coupons-box {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .coupons-box .left {
    font-size: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
}

.container .coupons-box .right {
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    line-height: 22px;
}

.container .coupons-box .right img {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
}

.footer {
    width: 100%;
    height: 49px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    bottom: 0;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer .left-money {
    font-size: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 22px
}

.footer .left-money span {
    font-size: 16px;
    font-weight: 400;
    color: #E40000;
    line-height: 22px
}

.footer .left-money .total {
    font-size: 20px;
    font-weight: bold;
    color: #E40000;
    line-height: 22px
}

.footer .btn-box {
    width: 112px;
    height: 36px;
    background: rgba(13, 20, 125, 1);
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 36px;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.address-popup {
    position: fixed;
    max-height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    height: 532px;
    border-radius: 6px 6px 0px 0px;
    padding: 20px 12px 12px;
    display: none;
}

.address-popup .title {
    font-size: 16px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
    margin-bottom: 10px;
}

.address-popup .address-list .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.address-popup .address-list .item .left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.address-popup .address-list .item .left p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
    margin-bottom: 10px;
}

.address-popup .address-list .item .left span {
    font-size: 12px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 17px;
}

.address-popup .address-list .item .right {
    width: 40px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 17px;
}