.oilPay_container {

}

.oilPay_container .top_car_bg_box {
  height: 3.28rem;
  background-image: url("../images/car_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.oilPay_container  .choose_box {
  margin: -0.44rem 0.15rem 0.2rem 0.15rem;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 0.03rem;
  padding: 0.2rem 0.15rem;
}

.oilPay_container  .choose_box .box_title {
  font-size: 0.16rem;
  font-weight: bold;
  color: #333333;
  line-height: 0.22rem;
  margin-bottom: 0.06rem;
}

.oilPay_container  .choose_box .sub_title {
  font-size: 0.12rem;
  font-weight: 400;
  color: #FF4E54;
  line-height: 0.17rem;
  margin-bottom: 0.15rem;
}

.oilPay_container  .choose_box .price_item_box {
  display: flex;
  justify-content: space-between;
}

.oilPay_container  .choose_box .price_item_box .item_box {
  box-sizing: border-box;
  width: 0.98rem;
  height: 1rem;
  border-radius: 0.03rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.oilPay_container  .choose_box .price_item_box .item_box.choose_active {
  background: rgba(72, 143, 241, 0.1);
  border: 1px solid #488FF1;
}

.oilPay_container  .choose_box .price_item_box .item_box .price {
  height: 0.38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.16rem;
  font-weight: bold;
  color: #333333;
  line-height: 0.22rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.oilPay_container  .choose_box .price_item_box .item_box .desc_p {
  font-size: 0.12rem;
  font-weight: 400;
  color: #666666;
  line-height: 0.17rem;
  text-align: center;
  margin: 0.06rem 0;
}

.oilPay_container  .choose_box .price_item_box .item_box .current_price {
  font-size: 0.16rem;
  font-weight: bold;
  color: #488FF1;
  line-height: 0.22rem;
  text-align: center;
}

.oilPay_container  .choose_box .pay_btn {
  height: 0.44rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.16rem;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 0.22rem;
  background-color: rgba(72, 143, 241, 1);
  border-radius: 0.03rem;
  margin-top: 0.3rem;
}

.oilPay_container .activity_desc {
  margin: 0.2rem 0.15rem;
  border-radius: 0.03rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0.2rem 0.15rem;
}

.oilPay_container .activity_desc .box_title {
  font-size: 0.16rem;
  font-weight: bold;
  color: #333333;
  line-height: 0.22rem;
  margin-bottom: 0.15rem;
}

.oilPay_container .activity_desc .desc_detail {
  font-size: 0.14rem;
  font-weight: 400;
  color: #333333;
  line-height: 0.2rem;
}

.modal_dialog {
  position: fixed;
  z-index: 111;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_dialog .pay_box {
  width: 2.47rem;
  box-sizing: border-box;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 0.03rem;
}

.modal_dialog .pay_box .pay_desc {
  text-align: center;
  font-size: 0.14rem;
  font-weight: bold;
  color: #333333;
  line-height:0.2rem;
  margin-bottom: 0.08rem;
}

.modal_dialog .pay_box .waiting_pay {
  font-size: 0.12rem;
  font-weight: 400;
  color: #999999;
  line-height: 0.17rem
}

.modal_dialog .pay_box .pay_price {
  font-size: 0.16rem;
  font-weight: bold;
  color: #F15948;
  line-height: 0.22rem;
  margin-bottom: 0.2rem;
}

.modal_dialog .pay_box .pay_btn {
  width: 1.87rem;
  height: 0.36rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.03rem;
}

.modal_dialog .pay_box .pay_btn img{
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  margin-right: 0.07rem;
}

.modal_dialog .pay_box .pay_btn span{
  font-size: 0.14rem;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 0.2rem;
}

.modal_dialog .pay_box .pay_btn.gong {
  background-color: rgba(72, 143, 241, 1);
  margin-bottom: 0.15rem;
}

.modal_dialog .pay_box .pay_btn.wx {
  background-color: rgba(80, 182, 116, 1);
  margin-bottom: 0.15rem;
}

.modal_dialog .pay_box .cancel_pay_btn {
  font-size: 0.14rem;
  font-weight: 400;
  color: #488FF1;
  line-height: 0.2rem;
  text-decoration: underline;
}

.modal_dialog.hide {
  display: none!important;
}

.model-open {
  position: fixed;
  width: 100%;
}
