
html,body { height: 100% }

.platinumCard_container.green {
    background: rgba(0, 184, 125, 1)!important;
}


.platinumCard_container {
    box-sizing: border-box;
    padding: 0.16rem;
    height: 100%;
    background: rgba(72, 143, 241, 1);
}

.platinumCard_content {
    background-color: #fff;
    overflow: hidden;
    border-radius: 0.03rem;
    box-sizing: border-box;
    padding-bottom: 0.16rem;
}

.platinumCard_content .content_title {
    display: flex;
    align-items: center;
    height: 0.52rem;
    box-sizing: border-box;
    padding: 0.1rem;
    /*margin-bottom: 0.54rem;*/
    background-color: rgba(242, 242, 242, 1);
    margin-bottom: 0.48rem;
}

.platinumCard_content .content_title img{
    display: block;
    width: 0.32rem;
    height: 0.32rem;
}

.platinumCard_content .content_title span{
    font-size: 0.14rem;
    font-weight: bold;
    color: #333333;
    line-height: 0.2rem;
    margin-left: 0.1rem;
}





.platinumCard_content .codeImg_box {
    margin: 0 auto;
    width: 2.45rem;
    height: 2.45rem;
    box-sizing: border-box;
}

.platinumCard_content .codeImg_box img{
    display: block;
    width: 100%;
    height: 100%;
}

.platinumCard_content  p.tip {
    font-size: 0.12rem;
    font-weight: 400;
    color: #333333;
    line-height: 0.17rem;
    margin-top: 0.15rem;
    margin-bottom: 0.08rem;
    text-align: center;
}

.platinumCard_content  p.sub-tip {
    font-size: 0.12rem;
    font-weight: 400;
    color: #999999;
    line-height: 0.17rem;
    text-align: center;
}

.platinumCard_content  .line {
    height: 0.01rem;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0.5rem 0.15rem 0.15rem 0.15rem;
}

.platinumCard_content .current_yue {
    font-size: 0.14rem;
    font-weight: bold;
    color: #333333;
    line-height: 0.2rem;
    text-align: center;

}

.platinumCard_content .current_yue_detail {
    font-size: 0.16rem;
    font-weight: bold;
    color: rgba(72, 143, 241, 1);
    line-height: 0.24rem;
    text-align: center;
}

.payCode_desc_box {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0.15rem;
}

.payCode_desc_box .card_type {
    font-size: 0.14rem;
    font-weight: bold;
    color: #333333;
    line-height: 0.2rem;
}

.payCode_desc_box .current_cent {
    font-size: 0.14rem;
    font-weight: bold;
    color: #333333;
    line-height: 0.2rem;
}
.payCode_desc_box .current_cent span {
    color: rgba(72, 143, 241, 1);
}

.change_type_btn {
    height: 0.52rem;
    background: #FFFFFF;
    border-radius: 0.03rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0.15rem;
    margin-top: 0.2rem;
}

.change_type_btn span {
    font-size: 0.14rem;
    font-weight: bold;
    color: #333333;
    line-height: 0.2rem;
}

.change_type_btn img {
    display: block;
    width: 0.2rem;
    height: 0.2rem;
}















