body, html {
    height: 100%;
    background: #F2F2F2;
}


.publicWelfareList_container {
    box-sizing: border-box;
    padding: 0.15rem;
}


.publicWelfareList_container .publicWelfare_list_item {
    background-color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0.15rem;
    position: relative;
    margin-bottom: 0.15rem;
}
.publicWelfareList_container .publicWelfare_list_item .state_img{
  position: absolute;
    right: 0.12rem;
    bottom: 0.24rem;
    display: block;
    width: 0.52rem;
    height: 0.52rem;


}

.publicWelfareList_container .publicWelfare_list_item  .publicWelfare_img_box {
    height: 1.58rem;
}
.publicWelfareList_container .publicWelfare_list_item  .publicWelfare_img_box img {
    display: block;
    width: 100%;
    height: 100%;
}

.publicWelfareList_container .publicWelfare_list_item .publicWelfare_name {
    font-size: 0.14rem;
    font-weight: 700;
    color: #333333;
    line-height: 0.2rem;
    margin: 0.1rem 0;
}

p.publicWelfare_name {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.publicWelfareList_container .publicWelfare_list_item .detail_time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.publicWelfareList_container .publicWelfare_list_item .detail {
    font-size: 0.14rem;
    font-weight: 700;
    color: #4285EA;
    line-height: 0.2rem;
}

.publicWelfareList_container .publicWelfare_list_item .time {
    font-size: 0.12rem;
    font-weight: 700;
    color: #999999;
    line-height: 0.17rem;
}
