html,body {
  height: 100%;
  background: linear-gradient(90deg, #033058 0%, #613919 100%);
  box-shadow: 0px 1px 103px 0px rgba(0, 0, 0, 0.5);
}

.tvPage_container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 60px 80px;
}


.tvPage_container  .swiper_box {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  float: left;
}

.tvPage_container  .swiper-container {
  height: 100%;
  width: 100%;
}

.tvPage_container  .swiper-container .swiper-slide  img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: block;
}
.tvPage_container  .swiper-container  .swiper-pagination {
  padding: 10px 20px;
  font-size: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  right: 20px;
  position: absolute;
  left: auto;
  color: #ffffff;
  border-radius: 20px;
  max-width: 100px;
}


.order_item {
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex;/* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
  display: flex;/* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.order_item .user_img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.order_message_box {
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex;/* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
  display: flex;/* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  flex-direction: column;
  justify-content: space-between;
}

#list1, #list2 {
  min-height: 100%;
}

.order_item .order_message {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}

.order_item .order_message span {
  color: rgba(72, 143, 241, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.order_item .order_time {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}
.scroll_box_f {
  width: calc(30% - 40px);
  float: left;
  height: 100%;
  margin-left: 40px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 30px;
  overflow: hidden;
  background: rgba(42, 42, 42, .4);
  position: relative;
}

.scroll_box {
  height: 100%;
  overflow: hidden;
}

.ab_more_box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex;/* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
  display: flex;/* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  padding: 30px 20px;
  background: rgba(0, 0, 0, 1);
  align-items: center;
}

.ab_more_box .code_img{
  display: block;
  width: 110px;
  height: 110px;
}


.ab_more_box  .code_desc{
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex;/* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
  display: flex;/* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.ab_more_box  .code_desc p {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 28px;
}

.ab_more_box .code_desc p span {
  font-size: 28px;
  font-weight: bold;
  color: rgba(33, 121, 243, 1);
  line-height: 36px;
}
